# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
node_modules/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
.DS_Store

# Data
backend/data/*.dat
backend/data/*.csv
backend/data/*.db
backend/models/*.pkl
!backend/models/best_clf_model.pkl
!backend/models/best_reg_model.pkl
!backend/models/shap_explainer_reg.pkl
!backend/models/model_info.json
backend/data/*.asc
backend/*.db
backend/app/*.db